extends layout

block content
	.container
		h1 About Us
		p This is the simple express website design lab. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ullamcorper est vitae imperdiet sodales. Nulla et magna vitae nunc efficitur congue eget eu ex. Proin vel sem ut eros ultrices feugiat. Phasellus eleifend quam eu turpis finibus blandit.
