extends layout

block content
	.jumbotron
		.container
			h1 How May I help you?
			p Lorem Ipsum dolor sittt
			a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;

	.container
		.row
			.col-md-4
				h2 About Us
				p loren ipsum dolar...
				a.btn.btn-default(href='#') View Details

			.col-md-4
				h2 Services
				p loren ipsum dolar...
				a.btn.btn-default(href='#') View Details

			.col-md-4
				h2 Get in touch
				p loren ipsum dolar...
				a.btn.btn-default(href='#') View Details


